# Librerías

In [82]:
import pandas as pd

# Constantes

In [83]:
fichero_historico = 'data/temperatura_historico_LAGUNA - COMPLETO.csv'

# Carga de datos

In [84]:
data = pd.read_csv(fichero_historico, sep=";")

data = data[["fecha", "ambiente"]]

data

            fecha  ambiente
0      01/01/1947      13.0
1      02/01/1947       9.0
2      03/01/1947      10.5
3      04/01/1947       9.5
4      05/01/1947       8.5
...           ...       ...
22180  26/11/2007      13.5
22181  27/11/2007      13.5
22182  28/11/2007      13.2
22183  29/11/2007      14.8
22184  30/11/2007      13.5

[22185 rows x 2 columns]

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22185 entries, 0 to 22184
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fecha     22185 non-null  object
 1   ambiente  22185 non-null  float64
dtypes: float64(1), object(1)
memory usage: 346.8+ KB

In [86]:
# data = data.dropna()

In [87]:
data.to_csv('data/datos_historico.csv', index=False)